/* Fontes usadas */

@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Micro+5&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

/* Parte sem classe */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  height: 100vh;
  box-sizing: border-box;
}

h2 {
  color: #add8e6;
  font-size: 100px;
  font-family: "Micro 5", sans-serif;
}

/* Apenas para ajustar o tamano da imagem */

img {
  width: 350px;
  height: 320px;
}

/* Apenas para destacar o texto */

.texto-destaque {
  color: #0000ff;
}

/* A Apresentação, texto da página */

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10%;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.apresentacao__conteudo__titulo {
  color: #1e90ff;
  font-size: 55px;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.apresentacao__conteudo__paragrafo {
  color: #b0c4de;
  font-size: 24px;
  font-family: "Red Hat Mono", monospace;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
}

.apresentacao__links__botaos {
  background-color: #1e90ff;
  width: 250px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #000000;
  font-family: "Kdam Thmor Pro", sans-serif;
}
